{% if site.data.commissions %}
<script src="https://gumroad.com/js/gumroad-embed.js"></script>
<div id="commissions-status">
    <h1>Commission Status:</h1>
    <hr>
    {% assign comm = site.data.commissions %}
    {% for entry in comm %}
        {% assign key = entry | first %}
        {% if comm[key].title %}
              {% if comm[key].href %}
                    <a href="{{ comm[key].href }}">{{ comm[key].title }}:</a>
              {% else %}
                    <p>{{ comm[key].title }}:</p>
              {% endif %}
    
              {% if comm[key].status == "Open" %}
                  <p><i class="fa fa-solid square-check fa-2x green-color"></i>&nbsp;&nbsp;Open for Commission</p>
              {% elsif comm[key].status == "Closed" %}
                  <p><i class="fa fa-solid square-xmark fa-2x red-color"></i>&nbsp;&nbsp;Commissions Closed</p>
              {% endif %}

              {% if comm[key].quotestatus == "Open" %}
                  <p><i class="fa fa-solid square-check fa-2x green-color"></i>&nbsp;&nbsp;Open for Quotes</p>
              {% elsif comm[key].quotestatus == "Closed" %}
                  <p><i class="fa fa-solid square-xmark fa-2x red-color"></i>&nbsp;&nbsp;Quotes Closed</p>
              {% endif %}
                
        {% endif %}
    {% endfor %}
</div>
<div id="commissions">
    <h1>Current Projects:</h1>
    <hr>
    {% assign comm = site.data.commissions %}
    {% for entry in comm %}
        {% assign key = entry | first %}
        {% if comm[key].title %}
            {% if comm[key].ready == "Yes" %}
                <h2><a href="{{ comm[key].href }}">{{ comm[key].title }}:</a></h2>
                <p>{{ comm[key].comment }}</p>
                
                {% if comm[key].status == "Open" %}
                    <p><i class="fa fa-solid square-check fa-2x green-color"></i>&nbsp;&nbsp;Open for Commission</p>
                {% elsif comm[key].status == "Closed" %}
                    <p><i class="fa fa-solid square-xmark fa-2x red-color"></i>&nbsp;&nbsp;Commission Closed</p>
                {% endif %}
  
                {% if comm[key].quotestatus == "Open" %}
                    <p><i class="fa fa-solid square-check fa-2x green-color"></i>&nbsp;&nbsp;Open for Quotes</p>
                {% elsif comm[key].quotestatus == "Closed" %}
                    <p><i class="fa fa-solid square-xmark fa-2x red-color"></i>&nbsp;&nbsp;Quotes Closed</p>
                {% endif %}
                
                <div class="gumroad-product-embed"><a href="{{ comm[key].href }}">Loading...</a></div>
            {% else %}
                <h2>{{ comm[key].title }}:</h2>
                <hr>
                <em>Coming Soon...</em>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
